*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    color: white;
}

body {
    background-color: #302D40;
    height: 100vh;
    padding: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.botoes {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.botoes__botao {
    width: 67px;
    height: 67px;
    background-color: #A7F2BA;
    border-radius: 20px;
}

.pressionado {
    background-color: #2BD9A8;
}

.consumo__container {
    width: 270px;
    height: 270px;
    background-color: #414141;
    margin: 75px 0;
    border-radius: 10000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.consumo {
    display: flex;
    justify-content: center;
}

.consumo__valor {
    display: flex;
    flex-direction: row;
    font-size: 64px;
    align-items: baseline;
}

.consumo__moeda{
    padding: 24px;
    font-weight: 600;
    color: #A7F2BA;
}

.luz {
    display: flex;
    justify-content: center;
    width: 100%;
}

.luz__container {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    background-color: #414141;
    display: flex;
}