.home {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.consumo__container {
    position: relative;
    width: 270px;
    height: 270px;
    background-color: #414141;
    /* margin: 75px 0; */
    border-radius: 10000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}
.consumo__moeda {
    position: absolute;
    z-index: 1;
    top: 0px;
}

.consumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.consumo__valor {
    display: flex;
    flex-direction: row;
    font-size: 64px;
    align-items: baseline;
}

.consumo__moeda{
    padding: 24px;
    font-weight: 600;
    color: #A7F2BA;
}

.luz {
    display: flex;
    justify-content: center;
    width: 100%;
}

.luz__container {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    background-color: #414141;
    display: flex;
    justify-content: space-between;
}
