.botoes {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.botoes__botao {
    width: 67px;
    height: 67px;
    background-color: #A7F2BA;
    border-radius: 20px;
}

.pressionado {
    background-color: #2BD9A8;
}

.consumo__container {
    position: relative;
    width: 270px;
    height: 270px;
    background-color: #414141;
    margin: 75px 0;
    border-radius: 10000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.consumo__moeda {
    position: absolute;
    z-index: 1;
    top: 0px;
}

.consumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.consumo__valor {
    display: flex;
    flex-direction: row;
    font-size: 64px;
    align-items: baseline;
}

.consumo__moeda{
    padding: 24px;
    font-weight: 600;
    color: #A7F2BA;
}

.luz {
    display: flex;
    justify-content: center;
    width: 100%;
}

.luz__container {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 30px;
    border-radius: 30px;
    background-color: #414141;
    display: flex;
    justify-content: space-between;
}
